<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- navigation bar -->
  <nav>
    <ul>
      <li>logo</li>
      <li>stack implimentation</li>
    </ul>
  </nav>
  <!-- main -->
  <section>
    <p>enter a stack value : </p>
    <input type="text", placeholder="numbers only">
    <ol>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </section>
</body>
</html>